* {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-image: url("../images/robson-hatsukami-morgan-qr7tsSwDOg0-unsplash.jpg");
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center;
    text-align: center;

}

h2 {
    color: #023e8a;
    font-weight: 30px;
    font-size: 30px;
}

.box {
    background-color: white;
    width: 350px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
}

label {
    font-weight: bold;
}

input[type="email"],
input[type="password"],input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 5px;

}

button {
    width: 100%;
    padding: 10px;
    background-color: #023e8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #03045e;
}

a {
    color: #0077b6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 13px;
}